.container{
    margin: 1rem auto;
    background-color: #ffffff80;
    color: #000;
    border-radius: 1rem;
    padding: 1rem 4rem;
    text-align: center;
}

.current {
    font-size: 6rem;
    font-weight: 900;
    margin: 0;
}

.temperatures{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.temperatures p{
    font-weight: 700;

}


.temperatures span{
    font-weight: 400;

}


.divIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.description{
    text-transform: capitalize;
}